@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <hr />
    <p>Hello! This is just a side-project I'm working on during the summer-holiday.<br />
    Not sure how relevant this page will be either since I'll probably work with React.</p>
</div>
